//Colors
$color-primary: #766bfe;
$color-primary-light: #53d3ff;
$color-primary-dark: #6321db;

$color-secondary: #ffc727;

$color-grey-dark-1: #25234d;
$color-grey-dark-2: #6a697f;

$color-grey-light: #f3f3f9;

// Fonts
$font-brand: 'Gilroy Bold', sans-serif;
$font-default: 'Nexa', sans-serif;
