//Colors
$color-primary: #766bfe;
$color-primary-light: #53d3ff;
$color-primary-dark: #6321db;

$color-secondary: #ffc727;

$color-tertiary: #00dadc;

$color-grey-dark-1: #25234d;
$color-grey-dark-2: #6a697f;

$color-grey-light: #f3f3f9;

$color-white: #fff;
$color-black: #000;

// Fonts
$font-default: 'Lato', sans-serif;
